/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box; 
	font-family: Arial, Helvetica, sans-serif;; 
  }
  
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* startje */
	  --color-text:#111;
	  --color-background:#eee;
	  max-width: 1200px;
	  margin: auto;
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */

header{
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}