/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box; 
	font-family: Arial, Helvetica, sans-serif;; 
  }
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* startje */
	  --color-text:#000000;
	  --color-background:#ffffff;
	  max-width: 1200px;

    --links_color:#000000;
    --svg_color:#000000;
    --button_color:#000000;
    --button_text:#ffffff;
    --text_alert:rgb(241, 44, 44);
    --footer_bgc:rgb(224, 223, 223);
    --border_color:#000000;
    --border_color_light:#a8a8a8;
    --mini_text:#939393;
	  /* margin: auto; */
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */

*{
  font-weight: normal;
  margin: 0;
	padding: 0;
}

main{
  padding-left: 1rem;
  padding-right: 1rem;
}

a{
  color: var(--links_color);
}

ul{
  list-style-type: none;
}

nav{
  margin-bottom: 2rem;
}

header nav ul li > svg:first-child{
  margin-left: 1em;
  margin-top: 0.5em;
  width: 3.9em;
}

button{
  appearance: none;
  border: none;
  background-color: var(--color-background);
}

/* ////////////// */
/* Hamburger menu */
/* ////////////// */

header button{
  appearance: none;
  aspect-ratio:1;
  align-content:center;
  border:none;
  background-color:var(--color-background);
  display:grid;
  font-size: 0.8em;
  justify-content:center;
  width: 3em;
}

header button span{
  background-color:var(--links_color);
  display:block;
  grid-column-start:1;
  grid-row-start:1;
  height:.115em;
  transition:1s; 
  width:1.5em;
}

header button span:nth-of-type(1){
  translate: 0 -.6em 0;
}

header button span:nth-of-type(2){
  transition:0s;
}

header button span:nth-of-type(3){
  translate: 0 .6em 0;
}

header button.is-open span:nth-of-type(1){
  rotate: 45deg;
  translate: 0 0 0;
}

header button.is-open span:nth-of-type(2){
  scale: 0 1;
}

header button.is-open span:nth-of-type(3){
  rotate: -45deg;
  translate: 0 0 0;
}

/* //////////////////////////////////// */
/* //////////////////////////////////// */


header{
  background-color: var(--color-background);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

header nav ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  margin-right: 1rem;
}

header nav ul li:first-child{
  justify-content: flex-start;
  margin-right: auto;
}

[aria-current="page"]{
  cursor: default;
  text-decoration: none;
}


/* ////////////////// */
/*       footer       */
/* ////////////////// */

footer{
  background-color: var(--footer_bgc);
  width: 100%;
  font-size: 0.8em;
}

footer > ul{
  display: grid;
  grid-template-rows: max-content max-content max-content max-content max-content max-content;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

footer > ul > li > p{
  color: var(--text_alert);
  padding-left: 1rem;
  padding-top: 1em;
}

footer ul li:nth-last-child(2) p:last-child{
  color: var(--mini_text);
  border-top: solid 1px black;
  margin-top: 1em;
}

footer ul li:last-child ul{
  display: flex;
}

footer li > a{
  padding-left: 2em;
  padding-top: 0.5em;  
}

footer svg{
  height: 2em;
  width: 2em;
}

@media screen and (min-width: 720px){
  footer > ul > li > ul{
    display: flex;
  }

  footer > ul > li:not(:last-child) > ul > li:not(:first-child) a{
    border-left: 1px solid black;
    padding-left: 2em;
  }

  footer > ul > li:nth-child(3){
    padding-top: 1em;
  }

  footer > ul > li:nth-child(4) > p{
    padding-bottom: 1em;
  }
}