/* ////////////////////////*/
/* //// image carousel ////*/
/* ////////////////////////*/

/* https://www.youtube.com/watch?v=gmI5nvzv170 */

main > section:first-of-type ul{
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --swiper;
    scroll-snap-type: x mandatory;
}

main > section:first-of-type ul::-webkit-scrollbar{
    display: none;
}

main > section:first-of-type ul::scroll-button(right), main > section:first-of-type ul::scroll-button(left){
    content: '→';
    color: var(--button_text);
    font-size: 1em;
    border: none;
    background-color: var(--button_color);
    height: 1.5em;
    width: 1.5em;
    padding: 0.1em;
    padding-bottom: 0.2em;
    position: fixed;
    position-anchor: --swiper;
    position-area: right center;
    translate: -100%;
}

main > section:first-of-type ul::scroll-button(left){
    content: '←';
    position-area: left center;
    translate: 100%;

}

main > section:first-of-type ul::scroll-button(right):disabled, ul::scroll-button(left):disabled{
    opacity: 0.5;
}

main > section:first-of-type ul li{
    scroll-snap-align: start;
    flex: 0 0 100%;
}

main > section:first-of-type ul li img{
    width: 100%;
}


/* ////////////////////////*/
/* /////// details ////////*/
/* ////////////////////////*/

details {
  border-block-end: 1px solid #000;
  margin-block: .5rem;
  padding-block: .5rem;
}
summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

summary::after {
  content: "+";
}

[open] summary::after{
    content: "-";
}

[open] summary{
    font-weight: bold;
}

