/* ////////////////////////*/
/* //// image carousel ////*/
/* ////////////////////////*/

/* https://www.youtube.com/watch?v=gmI5nvzv170 */

main > section:first-of-type ul{
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --swiper;
    scroll-snap-type: x mandatory;
}

main > section:first-of-type ul::-webkit-scrollbar{
    display: none;
}

main > section:first-of-type ul::scroll-button(right), main > section:first-of-type ul::scroll-button(left){
    content: '→';
    color: var(--carousel_arrow);
    font-size: 1em;
    border: none;
    background-color: var(--button_color);
    height: 1.5em;
    width: 1.5em;
    padding: 0.1em;
    padding-bottom: 0.2em;
    position: fixed;
    position-anchor: --swiper;
    position-area: right center;
    translate: -100%;
}

main > section:first-of-type ul::scroll-button(left){
    content: '←';
    position-area: left center;
    translate: 100%;
}

main > section:first-of-type ul::scroll-button(right):disabled, ul::scroll-button(left):disabled{
    opacity: 0.5;
}

main > section:first-of-type ul li{
    scroll-snap-align: start;
    flex: 0 0 100%; /* groeit niet, shrinked niet en neemt 100% breed*/
}

main > section:first-of-type ul li img{
    width: 100%;
}

/* ////////////////////////*/
/* ///////// form /////////*/
/* ////////////////////////*/ /* https://www.youtube.com/watch?v=5OrlF71bFrk */
form{
    margin-bottom: 1em;
}

legend{
    color: var(--color-text);
}

form > fieldset:first-of-type {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7em;
}

form > fieldset:first-of-type input{
    display: none;
}

fieldset{
    border: none;
}

form > fieldset:first-of-type label {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 2.5em;                  
    height: 2.5em;                 
    border: 1px solid var(--border_color);
    cursor: pointer;
    margin-top: 0.5em;
    color: var(--color-text);
}

form > fieldset:first-of-type input:checked + label{
    background-color: var(--radio_bg);
    border: 1px solid var(--border_color);
    color: var(--radio_selected);
    outline: 2px solid var(--border_color);
    outline-offset: 2px;
}

form > fieldset:first-of-type label:hover {
    outline: 1px solid var(--border_color);
    outline-offset: 2px;
}

/* //////////// section teller cart ////////////*/
form > section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}


/* //////////// teller knop ////////////*/
form > section > fieldset{
    display: flex;
    gap: 0.5em;
    font-size: 1.2em;
    border: 1px solid var(--border_color);
    width: max-content;
    height: max-content;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 40px;
    background-color: var(--counter_bg);
    align-items: center;
    justify-content: start;
}

form > section > fieldset > button{
    font-size: 1.5em;
    background-color: var(--counter_bg);
    color: var(--color-text);
}

/* //////////// cart ////////////*/
form > section > button{
    background-color: var(--cart_bg);
    color: var(--button_text);
    border-radius: 60px;
    padding: 0.7em 1.7em 0.7em 1.7em;
    font-size: 1.3em;

}

/* //////////// fav ////////////*/
form > button:last-of-type{
    width: 100%;
    border: 1px solid var(--border_color);
    border-radius: 60px;
    font-size: 1em;
    padding: 0.3em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    transition: 200ms;
    color: var(--color-text);
}

form > button:last-of-type.added{
    background-color: var(--radio_bg);
    color: var(--radio_selected);
}

/* ////////// price /////////// */
form > p:first-of-type{
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0 1em 0;
}


/* ////////////////////////*/
/* /////// details ////////*/
/* ////////////////////////*/
details {
  border-block-end: 1px solid var(--border_color);
  padding-block: .5rem;
  color: var(--color-text);
}
summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

summary::after {
  content: "+";
}

[open] summary::after{
    content: "-";
}

[open] summary{
    font-weight: bold;
}

/* //////////////////////////////// */
/* ////// people also viewed ///////// */
/* //////////////////////////////// */
body > section h2{
    padding-top: 2em;
}

body > section{
    background-color: var(--color-background);
    padding-left: 1rem;
    padding-bottom: 1rem;
}

body > section ul{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 0;
    scroll-behavior: smooth;
    anchor-name: --swiper2;
}

body > section ul::-webkit-scrollbar{
    display: none;
}

body > section ul::scroll-button(right), body > section ul::scroll-button(left){
    content: '→';
    color: var(--carousel_arrow);
    font-size: 1em;
    border: none;
    background-color: var(--button_color);
    height: 1.5em;
    width: 1.5em;
    padding: 0.1em;
    padding-bottom: 0.2em;
    position: fixed;
    position-anchor: --swiper2;
    position-area: right center;
    translate: -100%;
}

body > section ul::scroll-button(left){
    content: '←';
    position-area: left center;
    translate: 100%;
}

body > section ul::scroll-button(right):disabled, ul::scroll-button(left):disabled{
    opacity: 0.5;
}

body > section ul li{
    flex: 0 0 46%; 
    scroll-snap-align: start;
    padding: 0.5rem 0;
    display: grid;
    grid-template-rows: max-content max-content 1fr max-content;
    grid-template-columns: auto min-content;
}

body > section ul li img{
    margin: 0;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: end;
}

body > section ul li button{
    grid-row-start: 2;
    grid-column-start: 3;
    justify-self: right;
}

body > section ul li h3{
    grid-row-start: 3;
}

body > section ul li p:first-of-type{
    grid-row-start: 4;
    font-weight: bold;
    font-size: 1.2em;
}

body > section ul li p:nth-of-type(2){
    grid-row-start: 2;
    grid-column-start: 1;
    align-self: end;
    color: var(--mini_text);
}

@media (min-width: 600px) {
    body > section ul li {
        flex: 0 0 33%;
    }
}

@media (min-width: 800px) {
    body > section ul li {
        flex: 0 0 25%;
    }
}

@media (min-width: 1000px) {
    body > section ul li {
        flex: 0 0 20%;
    }
}
/* ///////////////////////////////////////////////////////////// */

@media (min-width: 700px) {

    main {
        display: grid;
        grid-template-columns: 5fr 2fr; 
        gap: 2rem;
        align-items: start;
    }

    form {
        grid-column: 2 / 3;
        position: sticky;
        top: 4rem; 
    }

    main > section:first-of-type ul{
        display: block;
    }

    main > section:first-of-type ul::scroll-button(right), main > section:first-of-type ul::scroll-button(left){
    display: none;
    }
}

@media (min-width: 1000px) {
    main > section:first-of-type ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}