section{
    margin-top: 3rem;
}

section:first-of-type{
    display: flex;
    flex-direction: column;
}

section:first-of-type > * {
    margin-bottom: 1rem;
}

section:first-of-type :last-child{
    align-self: center;
    border: solid 0.1em black;
    border-radius: 2em;
    padding: 1em;
}

p:first-of-type{
    color: black;
    font-size: 1.1em;
    align-items: center;
}


section img{
    max-width: max-content;
    margin-right: 1rem;
    
}


section ul{
list-style-type: none;
display: grid;
column-gap: 1em;
row-gap: 2em;
grid-template-columns: 1fr 1fr;
font-size: 0.75em;
}
