main nav{
    font-size: 0.7em;
}

section{
    margin-top: 2rem;
}

section h2{
    margin-bottom: 0.5em;
}
section:first-of-type{
    display: flex;
    flex-direction: column;
}

section:first-of-type > * {
    margin-bottom: 1rem;
}

section:first-of-type :last-child{
    align-self: center;
    border: solid 0.1em var(--border_color);
    border-radius: 2em;
    margin-top: 2em;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    width: 90vw;
}

main section:last-of-type{
    display: flex;
    justify-content: center;
}

main section:last-of-type a{
    border: solid 0.05em var(--border_color_light);
    font-size: 1em; 
    padding: 1em;
    width: 90vw;
    text-align: center;
    text-decoration: none;
}

main a:last-child img{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

section ul{
    display: grid;
    font-size: 0.75em;
    gap: 0.7em;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

section ul li{
    display: grid;
    grid-template-rows: max-content max-content 1fr max-content;
    grid-template-columns: auto min-content;
}

section ul li img{
    margin: 0;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: end;
}

section ul li button{
    grid-row-start: 2;
    grid-column-start: 3;
    justify-self: right;
}


section ul li h3{
    grid-row-start: 3;
}

section ul li p:first-of-type{
    grid-row-start: 4;
    font-weight: bold;
    font-size: 1.5em;
}

/* alleen li met reduced price hebben een last of type 4 */
section ul li p:nth-last-of-type(4){
    color: var(--text_alert);
}

section ul li p:nth-of-type(2){
    grid-row-start: 2;
    grid-column-start: 1;
    align-self: end;
    color: var(--mini_text);
}

section ul li p:nth-of-type(3){
    grid-row-start: 5;
    grid-column-start: 1;
}

section ul li p:nth-of-type(4){
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    color: var(--text_alert);
}


@media screen and (min-width: 650px) and (max-width: 800px){
  section ul{
    display: grid;
    font-size: 0.75em;
    gap: 1em 1em;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    } 
    main section:last-of-type a{
        margin: 0.3em;
    } 
}

@media screen and (min-width: 800px){
    section ul{
        display: grid;
        font-size: 0.75em;
        gap: 1em 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        list-style-type: none;
    }  
    section > img{
        max-width: 80%;
        display: block;
        align-self: center;
        content:url("/images/We_Are_The_Monsters_Large.jpg");
    }
    main section:last-of-type a{
        margin: 0.3em;
    } 
}



