/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box; 
	font-family: Arial, Helvetica, sans-serif;; 
  }
  
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* startje */
	  --color-text:#111;
	  --color-background:#eee;
	  max-width: 1200px;
	  /* margin: auto; */
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */

*{
	padding: 0;
  margin: 0;
	scrollbar-width: none;
}

main{
  margin-left: 1rem;
}

a{
  color: black;
}

ul{
  list-style-type: none;
}

nav{
  margin-bottom: 2rem;
}


/* ////////////// */
/* Hamburger menu */
/* ////////////// */

button{
  appearance: none;
  font-size: 1em;
  width: 3em;
  aspect-ratio:1;
  
  border:none;
  background-color:white;
  
  display:grid;
  justify-content:center;
  align-content:center;
}

button span{
  display:block;
  width:1.5em;
  height:.2em;
  background-color:black;
  border-radius: .1em;
  
  grid-column-start:1;
  grid-row-start:1;
  transition:1s;
}

button span:nth-of-type(1){
  translate: 0 -.6em 0;
}

button span:nth-of-type(2){
  transition:0s;
}

button span:nth-of-type(3){
  translate: 0 .6em 0;
}

button.is-open span:nth-of-type(1){
  translate: 0 0 0;
  rotate: 45deg;
}

button.is-open span:nth-of-type(2){
  scale: 0 1;
}

button.is-open span:nth-of-type(3){
  translate: 0 0 0;
  rotate: -45deg;
}

/* //////////////////////////////////// */
/* //////////////////////////////////// */


header{
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  width: 100vw;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

header nav ul li:first-child{
  justify-content: flex-start;
  margin-right: auto;
}

[aria-current="page"]{
  text-decoration: none;
  cursor: default;
}


/* ////////////////// */
/*       footer       */
/* ////////////////// */

footer{
  background-color: rgb(224, 223, 223);
  width: 100vw;
}

footer button{
  background-color: rgb(224, 223, 223);
}

footer *{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  text-decoration: none;
}

footer > p{
  color: rgb(241, 44, 44);
  padding-top: 0.5rem;
  margin-left: 1rem;
}

footer > a{
  margin-left: 1rem;
}

/* footer > p:first-child, p:nth-child(3){
  color: rgb(241, 44, 44);
  padding-top: 0.5rem;
  margin-left: 1rem;
} */