main nav{
    font-size: 0.7em;
}

section{
    margin-top: 2rem;
}

section h2{
    margin-bottom: 0.5em;
}
section:first-of-type{
    display: flex;
    flex-direction: column;
}

section:first-of-type > * {
    margin-bottom: 1rem;
}

section:first-of-type :last-child{
    align-self: center;
    border: solid 0.1em black;
    border-radius: 2em;
    margin-top: 2em;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    width: 90vw;
}

main p:first-of-type{
    align-items: center;
    color: black;
    font-size: 1.1em;
}


section > img{
    max-width: max-content;
    margin-right: 1rem;
}

section ul{
    /* column-gap: 0.2em; */
    display: grid;
    font-size: 0.75em;
    gap: 0.5em;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin-right: 1rem;
    /* row-gap: 2em; */
}

section ul li{
    border: 0.5px solid rgb(184, 184, 184);
    margin: auto;
}

section ul li img{
    margin: 0;
    max-width: 100%;
    object-fit: cover;
}
