section:has(h1) ul{
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --swiper;
    scroll-snap-type: x mandatory;
}

section:has(h1) ul::-webkit-scrollbar{
    display: none;
}

section:has(h1) ul::scroll-button(right), section:has(h1) ul::scroll-button(left){
    content: '→';
    color: var(--button_text);
    font-size: 1em;
    border: none;
    background-color: var(--button_color);
    height: 1.5em;
    width: 1.5em;
    padding: 0.1em;
    padding-bottom: 0.2em;
    position: fixed;
    position-anchor: --swiper;
    position-area: right center;
    translate: -100%;
}

section:has(h1) ul::scroll-button(left){
    content: '←';
    position-area: left center;
    translate: 100%;

}

section:has(h1) ul::scroll-button(right):disabled, ul::scroll-button(left):disabled{
    opacity: 0.5;
}

section:has(h1) ul li{
    scroll-snap-align: start;
    flex: 0 0 100%;
}

section:has(h1) ul li img{
    width: 100%;
}
